[defaults]
inventory = inventory.yml

interpreter_python = /usr/bin/python
 
# uncomment this to disable SSH key host checking
#host_key_checking = False

#SSH timeout
timeout = 600

# default user to use for playbooks if user is not specified
# (/usr/bin/ansible will use current user as default)
# remote_user = ansible

# if set, always use this private key file for authentication, same as
# if passing --private-key to ansible or ansible-playbook
# private_key_file = /etc/ansible/keys/rti_server_ansible_key
# private_key_file = ~/.ssh/rti_server_ansible_key

# our own modules
library            = plugins/modules

# set plugin path directories here, separate with colons
filter_plugins     = plugins/filters
#callback_plugins   = plugins/callbacks

callbacks_enabled = profile_tasks

# Use the YAML callback plugin.
stdout_callback = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True

# retry files
# When a playbook fails by default a .retry file will be created in ~/
# You can disable this feature by setting retry_files_enabled to False
# and you can change the location of the files by setting retry_files_save_path
retry_files_enabled = False

# enable redis as facts cache
#fact_caching = redis
#fact_caching_timeout = 3600
#fact_caching_connection = localhost:6379:0

# when empty, log only to console
log_path = ./ansible.log

[privilege_escalation]

[paramiko_connection]

[ssh_connection]
#ssh_args = -C -o ControlMaster=auto -o ControlPersist=900s -o GSSAPIAuthentication=no -o PreferredAuthentications=publickey -o ServerAliveInterval=15 -o ServerAliveCountMax=4
pipelining = True
scp_if_ssh = True

[accelerate]

[selinux]

[colors]
