---

- name: set udev rule for dnms device
  ansible.builtin.copy:
    dest: /etc/udev/rules.d/99-ttydnms.rules
    content: 'ACTION=="add", SUBSYSTEM=="tty", KERNEL=="ttyACM*", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="0483", SYMLINK+="ttyDNMS", MODE="0660", GROUP="dialout"'
    owner: root
    group: root
    mode: '0644'
  # notify: Restart udev

- name: Apply udev rules
  ansible.builtin.command: udevadm control --reload-rules
  changed_when: false

- name: Enable i2c_dev kernel module
  community.general.modprobe:
    name: i2c_dev
    state: present
    persistent: present

- name: Get i2c bus status
  ansible.builtin.slurp:
    src: /boot/firmware/config.txt
  register: i2c_status

- name: Enable i2c bus
  ansible.builtin.command: "dtparam i2c_arm=on"
  when: "('dtparam=i2c_arm=off' in i2c_status.content | b64decode) or ('#dtparam=i2c_arm=on' in i2c_status.content | b64decode)"
  register: i2c_enable

- name: Activate i2c bus
  ansible.builtin.lineinfile:
    path: /boot/firmware/config.txt
    line: dtparam=i2c_arm=on
    regexp: '^#?dtparam=i2c_arm=(?:on|off)$'
    state: present
  when: i2c_enable.changed
