---

- name: Create Group
  ansible.builtin.group:
    name: "{{ dfld_group }}"
    state: present

- name: Create User
  ansible.builtin.user:
    name: "{{ dfld_user }}"
    group: "{{ dfld_group }}"
    shell: /bin/bash
    state: present
  register: dfld_user_info

- name: Create a directory for portainer and all DFLD data
  become: true
  ansible.builtin.file:
    name: "{{ dfld_dir }}"
    owner: "{{ dfld_user }}"
    group: "{{ dfld_user }}"
    mode: "0750"
    state: directory

- name: Create a directory for DFLD configuration, if not exists
  become: true
  ansible.builtin.file:
  name: "/boot/{{ dfld_dir }}"
  owner: "{{ dfld_user }}"
  group: "{{ dfld_user }}"
  mode: "0750"
  state: directory
