services:
  ultrafeeder:
    image: ghcr.io/sdr-enthusiasts/docker-adsb-ultrafeeder
    # Note - if you want to enable telegraf for use with InfluxDB/Prometheus and Grafana,
    # use the following image instead:
    # image: ghcr.io/sdr-enthusiasts/docker-adsb-ultrafeeder:telegraf
    container_name: ultrafeeder
    hostname: ultrafeeder
    restart: unless-stopped
    device_cgroup_rules:
      - "c 189:* rwm"
    ports:
      - 8080:80/tcp
    environment:
    # --------------------------------------------------
    # general parameters:
      - LOGLEVEL=error
      - TZ=${TZ}
    # --------------------------------------------------
    # SDR related parameters:
      - READSB_DEVICE_TYPE=rtlsdr
    #
    # --------------------------------------------------
    # readsb/decoder parameters:
      - READSB_LAT=${LAT}
      - READSB_LON=${LON}
      - READSB_ALT=${ALT_M}m
      - READSB_RX_LOCATION_ACCURACY=2
      - READSB_STATS_RANGE=true
    #
    # --------------------------------------------------
    #
    # --------------------------------------------------
    # TAR1090 (Map Web Page) parameters:
      - UPDATE_TAR1090=true
      - TAR1090_DEFAULTCENTERLAT=${LAT}
      - TAR1090_DEFAULTCENTERLON=${LON}
      - TAR1090_MESSAGERATEINTITLE=true
      - TAR1090_PAGETITLE=DFLD
      - TAR1090_PLANECOUNTINTITLE=true
      - TAR1090_ENABLE_AC_DB=true
      - TAR1090_FLIGHTAWARELINKS=true
      - TAR1090_SITESHOW=true
      - TAR1090_RANGE_OUTLINE_COLORED_BY_ALTITUDE=true
      - TAR1090_RANGE_OUTLINE_WIDTH=2.0
      - TAR1090_RANGERINGSDISTANCES=50,100,150,200
      - TAR1090_RANGERINGSCOLORS='#1A237E','#0D47A1','#42A5F5','#64B5F6'
      - TAR1090_USEROUTEAPI=true
    #
    # --------------------------------------------------
    # GRAPHS1090 (Decoder and System Status Web Page) parameters:
      - GRAPHS1090_DARKMODE=true
    labels:
      - homepage.group=Infrastructure
      - homepage.name=adsb ultrafeeder
      - homepage.icon=https://avatars.githubusercontent.com/u/98966214?v=4
      - homepage.description=Don't miss a single plane
      - homepage.showStats=true
    volumes:
      - ultrafeeder-globe_history:/var/globe_history
      - ultrafeeder-graphs1090:/var/lib/collectd
      - /proc/diskstats:/proc/diskstats:ro
      - /dev/bus/usb:/dev/bus/usb
    tmpfs:
      - /run:exec,size=256M
      - /tmp:size=128M
      - /var/log:size=32M
    networks:
      - network

  detect_flyover:
    image: dfld_box
    restart: unless-stopped
    container_name: detect_flyover
    entrypoint: python /dfld/detect_flyover.py
    environment:
      - POSTGRES_USERNAME=${POSTGRES_ADMIN_USERNAME}
      - POSTGRES_PASSWORD=${POSTGRES_ADMIN_PASSWORD}
      - POSTGRES_DATABASE=${POSTGRES_DATABASE}
      - POSTGRES_SERVER=${POSTGRES_SERVERNAME}:${POSTGRES_SERVERPORT}
      - DUMP1090_SERVER=${DUMP1090_SERVERNAME}:${DUMP1090_SERVERPORT}
      - STATION_POSITION=${LON}:${LAT}:${ALT_M}
      - LOG_LEVEL=INFO
    labels:
      - homepage.group=Infrastructure
      - homepage.name=detect_flyover
      - homepage.icon=/icons/flight-landing-icon.svg
      - homepage.description=We get the noise
      - homepage.showStats=true
    networks:
      - network

volumes:
  ultrafeeder-globe_history:
  ultrafeeder-graphs1090:

networks:
    network:
        name: dfld_network
        external: true
