UID=1000
GID=1000
TZ=Europe/Berlin
DOCKER_EXTERNAL_ROOT={{ dfld_dir }}
GRAFANA_USERNAME={{ grafana_username }}
GRAFANA_PASSWORD={{ grafana_password }}
MQTT_SERVER=mqtt:1883
SOURCE_AIR=air
SOURCE_DNMS=dnms_serial
SOURCE_DNMS_I2C=dnms_i2c
SOURCE_DFLD=dfld_serial
SOURCE_UDP=udp
INFLUX_ADMIN_USERNAME={{ influxdb_username }}
INFLUX_ADMIN_PASSWORD={{ influxdb_password }}
INFLUXDB_SERVERNAME=influxdb
INFLUXDB_SERVERPORT=8086
INFLUXDB_DATABASE=dfld
INFLUXDB_DNMS_MEASUREMENT=dnms_serial
INFLUXDB_DNMSIIC_MEASUREMENT=dnms_i2c
INFLUXDB_DFLD_MEASUREMENT=dfld_serial
INFLUXDB_AIR_MEASUREMENT=air
INFLUXDB_TELEGRAF_DATABASE=local_monitoring
POSTGRES_ADMIN_USERNAME={{ postgres_username }}
POSTGRES_ADMIN_PASSWORD={{ postgres_password }}
POSTGRES_SERVERNAME=postgis
POSTGRES_SERVERPORT=5432
POSTGRES_DATABASE=dfld
DUMP1090_SERVERNAME=ultrafeeder
DUMP1090_SERVERPORT=30047
DEVICE_DFLD=/dev/ttyUSB0
DEVICE_DNMS=/dev/ttyDNMS
DEVICE_I2C=/dev/i2c-1
LON={{ station_lon }}
LAT={{ station_lat }}
ALT_M={{ station_alt }}
DFLD_REGION={{ dfld_region }}
DFLD_STATION={{ dfld_station }}
DFLD_CKSUM={{ dfld_cksum }}
DFLD_LEGACY={{ dfld_legacy }}
DFLD_LIVEVIEW={{ dfld_liveview }}
