UID=1000
GID=1000
TZ=Europe/Berlin
DOCKER_EXTERNAL_ROOT={{ dfld_dir }}
GRAFANA_USERNAME={{ grafana_username }}
GRAFANA_PASSWORD={{ grafana_password }}
MQTT_SERVER=mqtt:1883
INFLUX_ADMIN_USERNAME={{ influxdb_username }}
INFLUX_ADMIN_PASSWORD={{ influxdb_password }}
INFLUXDB_SERVERNAME=influxdb
INFLUXDB_SERVERPORT=8086
INFLUXDB_DATABASE=dfld
INFLUXDB_TELEGRAF_DATABASE=local_monitoring
POSTGRES_ADMIN_USERNAME={{ postgres_username }}
POSTGRES_ADMIN_PASSWORD={{ postgres_password }}
POSTGRES_SERVERNAME=postgis
POSTGRES_SERVERPORT=5432
POSTGRES_DATABASE=dfld
DUMP1090_SERVERNAME=ultrafeeder
DUMP1090_SERVERPORT=30047
DEVICE_DFLD=/dev/ttyUSB0
DEVICE_DNMS=/dev/ttyDNMS
DEVICE_I2C=/dev/i2c-1
LAT=${LAT}
LON=${LON}
ALT_M=${ALT_M}
DFLD_REGION=${DFLD_REGION}
DFLD_STATION=${DFLD_STATION}
DFLD_CKSUM=${DFLD_CKSUM}
DFLD_LEGACY=${DFLD_LEGACY}
DFLD_LIVEVIEW=${DFLD_LIVEVIEW}
