---

- name: Detect hardware on Raspberry Pi
  # when: ansible_facts.architecture == 'aarch64'
  block:
    - name: Run hardware detection in docker container
      ansible.builtin.command: docker run --rm --privileged -v /dev:/dev:ro dfld_box python detect_hw.py
      register: detect_hw_response
      changed_when: false

    - name: Extract hardware config to json fact
      ansible.builtin.set_fact:
        hw_conf: "{{ detect_hw_response.stdout | from_json }}"

  rescue:
    - name: Set default hardware config
      ansible.builtin.set_fact:
        hw_conf:
          BME280_AVAILABLE: 0
          SSD1306_AVAILABLE: 0
          
          DFLD_DNMS_AVAILABLE: 0
          DFLD_LEGACY_AVAILABLE: 0
          DNMS_I2C_AVAILABLE: 0
          ADSB_AVAILABLE: 0

- name: Include

- name: Include station configuration
  ansible.builtin.include_vars:
    file: "{{ conf_dir }}/dfld.yml
    name: dfld_config

- name: Flatten dfld_config into top-level facts
  ansible.builtin.set_fact:
    "{{ item.key }}": "{{ item.value }}"
  loop: "{{ dfld_config | dict2items }}"

