UID=1000
GID=1000
TZ=Europe/Berlin
DOCKER_EXTERNAL_ROOT={{ dfld_dir }}
GRAFANA_USER={{ grafana_user }}
GRAFANA_PASSWORD={{ grafana_password }}
INFLUX_ADMIN_USERNAME={{  influxdb_user }}
INFLUX_ADMIN_PASSWORD={{ influxdb_password }}
POSTGIS_USER={{ postgis_user }}
POSTGIS_PASSWORD={{ postgis_password }}
INFLUXDB_SERVERNAME=influxdb
INFLUXDB_SERVERPORT=8086
INFLUXDB_DATABASE=dfld
INFLUXDB_EVENT_MEASUREMENT=events
INFLUXDB_DNMS_MEASUREMENT=dnms_serial
INFLUXDB_DNMSIIC_MEASUREMENT=dnms_i2c
INFLUXDB_DFLD_MEASUREMENT=dfld_serial
INFLUXDB_AIR_MEASUREMENT=air
INFLUXDB_TELEGRAF_DATABASE=local_monitoring
DUMP1090_SERVERNAME=ultrafeeder
DUMP1090_SERVERPORT=30047
DEVICE_DFLD=/dev/ttyUSB0
DEVICE_DNMS=/dev/ttyACM0
DEVICE_I2C=/dev/i2c-1
LON=0
LAT=0
ALT_M=0
