services:
  dnms2influx:
    image: dfld_box
    restart: unless-stopped
    container_name: dnms2influx
    entrypoint: python /dfld/dnms2influx.py
    environment:
      - INFLUXDB_USERNAME=${INFLUX_ADMIN_USERNAME}
      - INFLUXDB_PASSWORD=${INFLUX_ADMIN_PASSWORD}
      - INFLUXDB_DATABASE=${INFLUXDB_DATABASE}
      - INFLUXDB_SERVER=${INFLUXDB_SERVERNAME}:${INFLUXDB_SERVERPORT}
      - INFLUXDB_MEASUREMENT=${INFLUXDB_DNMS_MEASUREMENT}
      - DEVICE=${DEVICE_DNMS}
      - DFLD_REGION=${DFLD_REGION}
      - DFLD_STATION=${DFLD_STATION}
      - DFLD_CKSUM=${DFLD_CKSUM}
      - DFLD_LIVEVIEW=${DFLD_LIVEVIEW}
      - LOG_LEVEL=INFO
    networks:
      - network
    devices:
      - ${DEVICE_DNMS}

  dfld2influx:
    image: dfld_box
    restart: unless-stopped
    container_name: dfld2influx
    entrypoint: python /dfld/dfld2influx.py
    environment:
      - INFLUXDB_USERNAME=${INFLUX_ADMIN_USERNAME}
      - INFLUXDB_PASSWORD=${INFLUX_ADMIN_PASSWORD}
      - INFLUXDB_DATABASE=${INFLUXDB_DATABASE}
      - INFLUXDB_SERVER=${INFLUXDB_SERVERNAME}:${INFLUXDB_SERVERPORT}
      - INFLUXDB_MEASUREMENT=${INFLUXDB_DFLD_MEASUREMENT}
      - DEVICE=${DEVICE_DFLD}
      - DFLD_REGION=${DFLD_REGION}
      - DFLD_STATION=${DFLD_STATION}
      - DFLD_CKSUM=${DFLD_CKSUM}
      - DFLD_LIVEVIEW=${DFLD_LIVEVIEW}
      - LOG_LEVEL=INFO
    networks:
      - network
    devices:
      - ${DEVICE_DFLD}

  dnmsiic2influx:
    image: dfld_box
    restart: unless-stopped
    container_name: dnmsiic2influx
    entrypoint: python /dfld/dnmsiic2influx.py
    environment:
      - INFLUXDB_USERNAME=${INFLUX_ADMIN_USERNAME}
      - INFLUXDB_PASSWORD=${INFLUX_ADMIN_PASSWORD}
      - INFLUXDB_DATABASE=${INFLUXDB_DATABASE}
      - INFLUXDB_SERVER=${INFLUXDB_SERVERNAME}:${INFLUXDB_SERVERPORT}
      - INFLUXDB_MEASUREMENT=${INFLUXDB_DNMSIIC_MEASUREMENT}
      - DFLD_REGION=${DFLD_REGION}
      - DFLD_STATION=${DFLD_STATION}
      - DFLD_CKSUM=${DFLD_CKSUM}
      - DFLD_LIVEVIEW=${DFLD_LIVEVIEW}
      - LOG_LEVEL=INFO
    networks:
      - network
    devices:
      - ${DEVICE_I2C}

  bme2influx:
    image: dfld_box
    restart: unless-stopped
    container_name: bme2influx
    entrypoint: python /dfld/bme2influx.py
    environment:
      - INFLUXDB_USERNAME=${INFLUX_ADMIN_USERNAME}
      - INFLUXDB_PASSWORD=${INFLUX_ADMIN_PASSWORD}
      - INFLUXDB_DATABASE=${INFLUXDB_DATABASE}
      - INFLUXDB_SERVER=${INFLUXDB_SERVERNAME}:${INFLUXDB_SERVERPORT}
      - INFLUXDB_MEASUREMENT=${INFLUXDB_AIR_MEASUREMENT}
      - LOG_LEVEL=INFO
    networks:
      - network
    devices:
      - ${DEVICE_I2C}

  detect_flyover:
    image: dfld_box
    restart: unless-stopped
    container_name: detect_flyover
    entrypoint: python /dfld/detect_flyover.py
    environment:
      - POSTGRES_USERNAME=${POSTGRES_ADMIN_USERNAME}
      - POSTGRES_PASSWORD=${POSTGRES_ADMIN_PASSWORD}
      - POSTGRES_DATABASE=${POSTGRES_DATABASE}
      - POSTGRES_SERVER=${POSTGRES_SERVERNAME}:${POSTGRES_SERVERPORT}
      - DUMP1090_SERVER=${DUMP1090_SERVERNAME}:${DUMP1090_SERVERPORT}
      - STATION_POSITION=${LON}:${LAT}:${ALT_M}
      - LOG_LEVEL=INFO
    networks:
      - network

  dfld_ftp:
    image: dfld_box
    restart: unless-stopped
    container_name: dfld_ftp
    entrypoint: python /dfld/dfld_ftp.py
    environment:
      - INFLUXDB_USERNAME=${INFLUX_ADMIN_USERNAME}
      - INFLUXDB_PASSWORD=${INFLUX_ADMIN_PASSWORD}
      - INFLUXDB_DATABASE=${INFLUXDB_DATABASE}
      - INFLUXDB_SERVER=${INFLUXDB_SERVERNAME}:${INFLUXDB_SERVERPORT}
      - INFLUXDB_MEASUREMENT=${INFLUXDB_AIR_MEASUREMENT}
      - DFLD_REGION=${DFLD_REGION}
      - DFLD_STATION=${DFLD_STATION}
      - DFLD_CKSUM=${DFLD_CKSUM}
      - DFLD_LEGACY=${DFLD_LEGACY}
      - TZ=${TZ}
      - LOG_LEVEL=INFO
    networks:
      - network

networks:
    network:
        name: dfld_network
        external: true
