---

- name: Install dfld-generate-env.sh script
  ansible.builtin.include_tasks: install_generate_script.yml

- name: Optimize memory usage for mini deployment mode
  ansible.builtin.include_tasks: optimize_memory.yml
  when: deployment_mode == "mini"

- name: Create dfld network
  ansible.builtin.include_tasks: network.yml

- name: Include container specific tasks
  ansible.builtin.include_tasks: "{{ item }}.yml"
  loop: "{{ infrastructure_containers[deployment_mode] }}"

- name: Deploy the infrastructure stack
  ansible.builtin.include_tasks:
    file: "deploy_infrastructure.yml"

- name: Deploy the ingress stack
  ansible.builtin.include_tasks:
    file: "deploy_ingress.yml"

- name: Deploy the adsb stack
  ansible.builtin.include_tasks:
    file: "deploy_adsb.yml"
  when: hw_conf["ADSB_AVAILABLE"] == 1
