allow_anonymous true
listener 1883
listener 9001
protocol websockets
persistence true
persistence_file mosquitto.db
persistence_location /mosquitto/data/
log_dest file /mosquitto/log/mosquitto.log

{% if cindy_s_mqtt_broker is defined %}
# ---- Bridge von local nach cindy_s ----
connection to_cindy_s
address {{ cindy_s_mqtt_broker }}
bridge_protocol_version mqttv311
clientid dfld-{{ dfld_region }}-{{ dfld_station }}
cleansession true
keepalive_interval 60
try_private true

{% if (cindy_s_mqtt_tls is defined and cindy_s_mqtt_tls > 0) or (cindy_s_mqtt_broker.endswith(':8883')) %}
# TLS (optional)
bridge_cafile /etc/ssl/certs/ca-certificates.crt
tls_version tlsv1.2
{% endif %}

topic # out 1 dfld/sensors/noise/ sensebox/cindy-s-test/
{% endif %}