allow_anonymous true
listener 1883
listener 9001
protocol websockets
persistence true
persistence_file mosquitto.db
persistence_location /mosquitto/data/
log_dest file /mosquitto/log/mosquitto.log

{% if cindy_s_mqtt_broker is defined %}
# ---- Bridge von local nach cindy_s ----
connection to_cindy_s
address {{ cindy_s_mqtt_broker }}
bridge_protocol_version mqttv311
clientid dfld-{{ DFLD_REGION }}-{{ DFLD_STATION_ID }}
cleansession true
keepalive_interval 60
try_private true

# Authentifizierung (falls genutzt)
# remote_username B_USER
# remote_password B_PASS

# TLS (optional)
# bridge_cafile /etc/mosquitto/certs/ca.crt
# bridge_certfile /etc/mosquitto/certs/client.crt
# bridge_keyfile /etc/mosquitto/certs/client.key
# tls_version tlsv1.2

topic # out 1 dfld/sensors/noise/ sensebox/cindy-s-test/
{% endif %}