allow_anonymous true
listener 1883
listener 9001
protocol websockets
persistence true
persistence_file mosquitto.db
persistence_location /mosquitto/data/
log_dest file /mosquitto/log/mosquitto.log

{% if mqtt_bridged_broker is defined and mqtt_bridged_rename is defined %}
# ---- Bridge von lokalem zu zentralem MQTT Server  ----
connection to_central_broker
address {{ mqtt_bridged_broker }}
bridge_protocol_version mqttv311
clientid dfld-{{ dfld_region }}-{{ dfld_station }}
cleansession true
keepalive_interval 60
try_private true

{% if mqtt_bridged_tls is defined and (mqtt_bridged_tls | string | lower in ['true', 'yes', '1']) %}
# TLS (optional)
bridge_cafile /etc/ssl/certs/ca-certificates.crt
tls_version tlsv1.2
{% endif %}

topic # out 1 {{ mqtt_bridged_rename }}
{% endif %}
